* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  background: #212534;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.6;
}

/* header {
  background: #333;
  padding: 1rem;
} */

/* nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
} */

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

nav ul li a:hover {
  background: #444;
}

.centered-head {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  color: #dce2ed;
  font-size: 40px;
  font-family: 'Fira Sans', sans-serif;
}

.banner {
  background-image: url("./Images/toothmuseum.png");
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.banner-text {
  color: #fff;
  text-align: center;
  z-index: 2;
  position: relative;
}

.banner-text h1 {
  font-size: 5vw;
  /* margin-bottom: 1rem; */
}

.banner-text p {
  font-size: 2vw;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.thumbnails {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
}

.thumbnail-container {
  width: 300px;
  text-align: center;
  background: #7d7d7d;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.thumbnail-container img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
}

.thumbnail-container h3 {
  margin: 1rem 0;
}

.thumbnail-container a {
  display: inline-block;
  background: #333;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.thumbnail-container a:hover {
  background: #444;
}

#pdf-container {
  width: 900px;
  height: 100vh;
  display: none;
  position: relative;
}
#minimize-btn {
  position: absolute;
  top: 60px;
  right: 10px;
  display: flex;
  background: #626262;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

#resume-icon{
  margin-top: 100px;
  width: 70px;
  align-items: center;
  border-radius: 3px;
}

.about-section {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  /* background-color: #595959; */
  padding: 50px 0;
  color: #c2c2c2;
}

.about-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.about-section p1 {
  font-size: 18px;
}

.about-section p2 {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 18px;
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile img {
  width: 180;
  height: 200px;
  border-radius: 50%;
  margin-right: 50px;
  object-fit: cover;
  border-radius: 85px;
  border: 1px solid #0f0f0f;
}

/* .projects {
  border-top: 10px solid #7a7a7a;
  background-color: #595959;
  color: aliceblue;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
} */

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.bio img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.bio h3 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 0.5rem;
}

.bio p {
  font-size: 14px;
  color: #ccc;
  text-align: center;
}

.sidebar-tab {
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 5px 5px 0;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  left: -245px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #333;
  padding: 20px;
  border-radius: 0 10px 10px 0;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar:hover {
  left: 0;
}

.sidebar button {
  background-color: #444;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.sidebar button:hover {
  background-color: #555;
  }

  .content {
    transition: margin-left 0.3s ease-in-out;
}

.social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.social-media a {
  color: #fff;
  font-size: 40px;
  transition: color 0.3s ease-in-out;
}

.social-media a:hover {
  color: #ccc;
}

.timeline-container {
  background-color: #252525;
  position: relative;
  border-top: 10px solid #7a7a7a;
  overflow: hidden;
}

.timeline {
  position:relative;
  width: 100%;
  padding: 50px 0;
}

.timeline-content {
  position: relative;
  z-index: 1;
}

.timeline-point {
  color: #fff;
  padding: 30px;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.timeline-point::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  z-index: 1;
}

.timeline-point:first-child::before {
  top: 50%;
  height: 1px;
}

.dot {
  position: absolute;
  background-color: white;
  border-radius: 50%;
}

.small-dot {
  width: 2px;
  height: 2px;
}

.medium-dot {
  width: 4px;
  height: 4px;
}

.large-dot {
  width: 6px;
  height: 6px;
}

#dotCanvas {
  z-index: 1;
}

.dottext {
  position: relative;
  z-index: 2;
  color: #5a5a5a; /* Ensure your text color contrasts with the dot color */
}

.dotcontainer {
  position: relative;
}

.timeline-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline-circle {
  position: absolute;
  width: 100%;
  height: 100%;   
  /* border: 1px solid black; */
  border-radius: 50%;
}

.timeline-dot {
  position: relative;
  width: 10px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.timeline-text {
  position: absolute;
  font: 20px Arial, sans-serif;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.card {
  background: #191c29;
  width: var(--card-width);
  height: var(--card-height);
  padding: 3px;
  position: relative;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5em;
  color: rgb(88 199 250 / 0%);
  cursor: pointer;
  font-family: cursive;
}

.card:hover {
  color: rgb(255, 255, 255);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 0;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

a {
  color: #ffffff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 2rem;
}