#welcome-overlay {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    cursor: pointer;
}

.overlay-text {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin: 10px 0; /* adjust as needed */
    position: relative;
    left: 25%;
    top: 0%;
    font-size: 20px;
    color: white;
}

.overlay-heading {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: center;
    margin: 75px 0; /* adjust as needed */
    position: relative;
    top: 0%;
    font-size: 75px;
    color: white;
}

h4 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#legend {
    position: fixed;
    top: 20px;
    right: 20px;
    /* background-color: var(--background); */
    padding: 20px;
    border: 5px solid #000;
    z-index: 0;
    font-size: 20px;
    color: white;
    text-shadow: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.color-box {
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-right: 5px;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root {
    --background: #161522;
}

body {
    background-color: var(--background);
}

.hamburger {
    position: fixed;
    font-size: 50px;
    cursor: pointer;
    top: 10px;
    left: 10px;
    color: #ffffff;
    background-color: #666666;

}

.menu {
    display: none;
    position: fixed;
    top: 100px;
    left: 10px;
    z-index: 0;
}

#parameters label, #parameters select {
    margin-bottom: 5px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: white;
    display: flex;
    /* flex-direction: column; */
    /* justify-content: center; */
    margin-top: 5px
}

#parameters input, #parameters select {
    color: black;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
}

#bottomContainer {
    position: fixed;
    bottom: 10px;
    z-index: 1;
}

#chordBoxes {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
    /* height: 100px;  */
    cursor: pointer;
    z-index: 0;
}

.circle-container {
    display: flex;
    justify-content: center;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    margin: 10px;
    cursor: pointer;
}

#chordBoxes > div {
    border: 5px solid #000;
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    margin: 10px 10px; /* Adjust as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 25px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#randomNext {
    position: fixed;
    bottom: 75px;
    left: 50px;
    z-index: 1;
    margin-left: 20px;
    background-color: #666666;
    color: white; 
    border: none; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s; 
    cursor: pointer; 
}

#randomNext:hover {
    background-color: #bbbbbb;
    color: black;
}

#exportMIDI {
    position: fixed;
    bottom: 20px;
    left: 50px;
    z-index: 1;
    margin-left: 20px;
    background-color: #666666;
    color: white; 
    border: none; 
    padding: 15px 32px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s; 
    cursor: pointer; 
}

#exportMIDI:hover {
    background-color: #bbbbbb;
    color: black;
}

a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size: 15px;
}

@keyframes oscillate {
    0% {
        background-image: linear-gradient(to right, rgb(25, 44, 27), #1a3121);
        box-shadow: 0 0 20px rgb(119, 207, 207), 0 0 25px rgb(255, 118, 118), 0 0 30px rgb(198, 219, 79), 0 0 40px rgb(146, 190, 190);
    }
    50% {
        background-image: linear-gradient(to right, rgb(45, 59, 46), #1a4b29);
        box-shadow: 0 0 20px rgb(238, 414, 414), 0 0 40px rgb(200, 236, 236), 0 0 60px rgb(396, 438, 158), 0 0 80px rgb(292, 380, 380);
    }
    100% {
        background-image: linear-gradient(to right, rgb(25, 44, 27), #1a3121);
        box-shadow: 0 0 20px rgb(119, 207, 207), 0 0 25px rgb(255, 118, 118), 0 0 30px rgb(198, 219, 79), 0 0 40px rgb(146, 190, 190);
    }
}

.keyboardContainer {
    display: flex;
    height: 200px;
    width: 1200px;
    animation: oscillate 5s infinite;
    padding: 10px;
    z-index: 0;
    position: fixed;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
}

body {
    background-color: #030311;
}

.key {
    width: 55px;
    height: 100%;
    border: 1px solid black;
    /* box-sizing: border-box; */
}

.white {
    background-color: white;
}

.black {
    background-color: black;
    width: 30px;
    margin-left: -15px;
    margin-right: -15px;
    z-index: 1;
    height: 60%;
    position: relative;
}

.chordkey {
    background-color: rgb(83, 27, 74);
    box-shadow: 0 0 10px rgb(226, 187, 221), 0 0 20px rgb(217, 183, 233), 0 0 30px rgb(33, 8, 37), 0 0 40px rgb(236, 186, 234);
}

.chordkey:hover {
    background-color: rgb(233, 138, 138);
}

.chordkey.active {
    background-color: rgb(226, 58, 58);
}

.leftarrow { 
    position: absolute;
    bottom: 160px;
    left: 45%;
    transform: translateX(-50%);
    scale: 2.5;  
}

.rightarrow { 
    position: absolute;
    bottom: 160px;
    left: 55%;
    transform: translateX(-50%);
    scale: 2.5;  
}

.x-button {
    position: absolute;
    bottom: 160px;
    left: 50%;
    transform: translateX(-50%);
    scale: 2.5;
}

#hotkeys {
    position: fixed;
    bottom: 20px;
    right: 100px;
    margin: 50px;
    z-index: 1;
    color: white; 
    border: none; 
    font-size: 16px;
    transition-duration: 0.4s; 
}