body {
    font-family: Arial, sans-serif;
    background-color: #d5d5d5;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #d5d5d5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  #scatterplot {
    width: 600px;
    height: 400px;
    margin-top: 20px;
  }
  
  .axis line,
  .axis path {
    fill: none;
    stroke: #ffffff;
    shape-rendering: crispEdges;
  }
  
  .dot {
    fill: steelblue;
    stroke: #fff;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
  
  nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #9c9c9c;
  }