body {
    font-family: Arial, sans-serif;
    margin: 5vh 0;
    font-size: 2vw;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: #b7c6d6;
    overflow: hidden;
  }

.section h3 {
  font-size: 8vw;
  margin-top: 3vh;
  margin-bottom: 2vh;
}
.content {
  text-align: center;
  line-height: 1.5;
  width: 85%;
  margin: auto;
}
.line {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 3vh;
  margin-left: 3vw;
}
.line .word {
  font-size: 3vw;
  display: inline-block;
  position: relative;
  margin-right: 1vw;
}
.line .word .chord {
  position: absolute;
  top: -2vh;
  color: #0069d9;
  font-weight: bold;
}

#startIcon {
  width: 60px;
}

#stopIcon {
  width: 25px;
}

#hamburger {
  width: 40px;
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 1001;
  cursor: pointer;
}
  
#scroll {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1b7635;
  color: #fff;
  padding: 0;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  transition: bottom 0.5s, width 0.5s, height 0.5s, background-color 0.5s;
}

#scroll.scrolling {
  bottom: 10px;
  width: 70px;
  height: 70px;
  background-color: #943a26;
}
  

#panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  overflow-y: auto;
  padding: 20px;
  z-index: 4;
  font-size: 4vh;
  text-align: right;

}

#songList {
  list-style-type: none;
  padding: 0;
}

#songList li {
  cursor: pointer;
}