.container {
    position: relative;
}

#dotCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.text {
    position: relative;
    z-index: 2;
    color: #5a5a5a; /* Ensure your text color contrasts with the dot color */
}
