body {
    font-family: Arial, sans-serif;
    margin: 5vh 0;
    font-size: 2vw;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: #b7c6d6;
    overflow: hidden;
  }
  .content {
    text-align: center;
    line-height: 1.5;
    width: 85%;
    margin: auto;
  }
  .line {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 3vh;
  }
  .line .word {
    font-size: 3vw;
    display: inline-block;
    position: relative;
    margin-right: 1vw;
  }
  .line .word .chord {
    position: absolute;
    top: -2vh;
    color: #0069d9;
    font-weight: bold;
  }
  #scrollButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    background: #0069d9;
    color: #fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }

  #metronome {
    user-select: none;
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px;
    background-color: #6f7171;
    border: 1px solid #ffffff;
    border-radius: 5px;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  #metronome button,
  #metronome select {
    margin-left: 10px;
  }

  #metronome span {
    font-weight: bold;
  }


#controls {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-10%);
    z-index: 1000;
  }
  
  #cooldownProgress {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid transparent;
    transition: border-color 0.2s;
  }
  
  .section h3 {
    font-size: 8vw;
    margin-top: 3vh;
    margin-bottom: 2vh;
  }