#network-diagram {
    border: 1px solid #ccc;
}

svg {
    position: relative;
    display: block;
  }

  .node {
    fill: #1f77b4;
    stroke: #fff;
    stroke-width: 1.5px;
    /* Highest z-index to draw the node above everything else */
    z-index: 3;
  }

.link {
    stroke: #999;
    stroke-opacity: 0.6;
    /* Lower z-index ensures that the links are drawn below the boxes and nodes */
    z-index: 1;
  }

  .box {
    fill: #ccc;
    stroke: #333;
    stroke-width: 2px;
    /* Higher z-index to draw the box above the links */
    z-index: 2;
  }

#controls {
    margin-top: 10px;
}

body {
    background-color: #000;
    color: #fff;
}
