p {
    padding-top: 1em;
  }
  
em {
    font-style: normal;
  }
  
em[data-chord]:before {
    position: relative;
    top: -1em;
    display: inline-block;
    content: attr(data-chord);
    width: 0;
    font-weight: bold;
    font-style: italic;
    speak: literal-punctuation;
    pause: 1s;
    /* pause between chord and text */
  }
  